html {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  position: fixed;
  overflow: hidden;
  width: 100vw;
}

:root {
  --contexify-menu-bgColor: #e8e8e8;
  --contexify-separator-color: #d1d1d1;
  --contexify-item-color: #444444;
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: #7b99f3;
  --contexify-rightSlot-color: #b4b4b4;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: #444444;
  --contexify-activeArrow-color: #fff;

  /* CSS HEX */
  --peach: #FFC285ff;
  --murrey: #89023Eff;
  --old-rose: #CC7178ff;
  --lavender-web: #C6D2EDff;
  --drab-dark-brown: #363020ff;

  --primary-lightest: #FFF9F3;
  --primary-grayish: #cec7c1;
  --primary-grayish-dark: #cec7c116;

}

/* grays */

:root {
  --gray05: rgba(0, 0, 0, 0.05);
  --gray07: rgba(0, 0, 0, 0.07);
  --gray10: rgba(0, 0, 0, 0.1);
  --gray12: rgba(0, 0, 0, 0.12);
  --gray15: rgba(0, 0, 0, 0.15);
  --gray25: rgba(0, 0, 0, 0.25);
  --gray50: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray05: rgba(40, 40, 40, 1);
    --gray07: rgba(45, 45, 45, 1);
    --gray10: rgba(50, 50, 50, 1);
    --gray12: rgba(56, 56, 56, 1);
    --gray15: rgba(63, 63, 63, 1);
    --gray25: rgba(85, 85, 85, 1);
    --gray50: rgba(141, 141, 141, 1);
  }
}

input, textarea, select, button, img {
  -webkit-user-drag: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: -apple-system;
  color: var(--drab-dark-brown);
  position: fixed;
  overflow: hidden;
  width: 100vw;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #FFF;
  }
}

#root {
  overflow: hidden;
}

.material-icons-outlined {
  color: inherit;
  font-variation-settings: 'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24;
}

hr {
  border-color: var(--gray05);
}
